In [1]:
import pandas as pd
import time

In [2]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("d4rklucif3r/social-network-ads")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.12), please consider upgrading to the latest version (0.3.13).
Downloading from https://www.kaggle.com/api/v1/datasets/download/d4rklucif3r/social-network-ads?dataset_version_number=1...

100%|█████████████████████████████████████████████████████████████████████████████| 1.46k/1.46k [00:00<00:00, 1.50MB/s]

Extracting files...
Path to dataset files: C:\Users\smc\.cache\kagglehub\datasets\d4rklucif3r\social-network-ads\versions\1

In [3]:
import os 
file=os.listdir(path)
file

['Social_Network_Ads.csv']

In [5]:
df=pd.read_csv(os.path.join(path , 'Social_Network_Ads.csv'))

In [7]:
df.head(5)

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [20]:
x=df[['Age','EstimatedSalary']]
x

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [21]:
y=df['Purchased']

In [22]:
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [23]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

x_scale=scaler.fit_transform(x)

In [24]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train,y_test= train_test_split(x, y ,test_size=0.2, random_state=42)

In [25]:
x_train.shape

(320, 2)

In [26]:
import tensorflow
from tensorflow import keras
from keras import Sequential
from keras.layers import Dense

In [28]:
model= Sequential()

model.add(Dense(10, activation='relu', input_dim=2))
model.add(Dense(10, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [29]:
model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                      │ (None, 10)                  │              30 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_4 (Dense)                      │ (None, 10)                  │             110 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_5 (Dense)                      │ (None, 1)                   │              11 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 151 (604.00 B)

 Trainable params: 151 (604.00 B)

 Non-trainable params: 0 (0.00 B)

In [34]:
import time

model.compile(loss='binary_crossentropy', metrics=['accuracy'])
start=time.time()
history=model.fit(x_train, y_train, epochs=10, batch_size=320)
print(time.time() - start)

Epoch 1/10
1/1 ━━━━━━━━━━━━━━━━━━━━ 1s 1s/step - accuracy: 0.6406 - loss: 169.3195
Epoch 2/10
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 67ms/step - accuracy: 0.3594 - loss: 480.1862
Epoch 3/10
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 67ms/step - accuracy: 0.6406 - loss: 51.5228
Epoch 4/10
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 66ms/step - accuracy: 0.3594 - loss: 323.5372
Epoch 5/10
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 67ms/step - accuracy: 0.6406 - loss: 65.7215
Epoch 6/10
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 72ms/step - accuracy: 0.3594 - loss: 229.6452
Epoch 7/10
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 64ms/step - accuracy: 0.6406 - loss: 95.1382
Epoch 8/10
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 71ms/step - accuracy: 0.3594 - loss: 156.5910
Epoch 9/10
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 78ms/step - accuracy: 0.6406 - loss: 128.4745
Epoch 10/10
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 170ms/step - accuracy: 0.3594 - loss: 93.8074
1.978992223739624